@page "/"
@model Silasi_Alexandru_Lab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Book Title / Author Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Book[0].title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].price)
            </th>
            <th>@Html.DisplayNameFor(model => model.Book[0].publishDate)</th>
            <th colspan="2">
                <a asp-page="./Index" asp-route-sortOrder="@Model.AuthorSort">
                    @Html.DisplayNameFor(model => model.Book[0].Author)
                </a>
            </th>
            <th>@Html.DisplayNameFor(model => model.Book[0].Publisher.name)</th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookCategories)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       
            @foreach (var item in Model.BookD.Books)
            {
        string selectedRow = "";
            if (item.id == Model.BookID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publishDate)
            </td>
            <td colspan="2">
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.name)
            </td>
            <td>
                @{
                    foreach (var category in item.BookCategories)
                    {
                        @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
            }
        
    </tbody>
</table>
